<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <!-- 此处定义的是定时任务的名称，之后可用于搜索或停止该任务，建议与文件名一致即可 -->
    <string>com.chaofan.reset.navicat.premium.trial.period</string>
    <!-- 以下两个<string>标签填写需要运行的脚本的绝对路径，请以实际为准 -->
    <key>Program</key>
    <string>/Users/chaofan/Public/MyShell/reset_navicat.sh</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/chaofan/Public/MyShell/reset_navicat.sh</string>
    </array>
    <!-- 在加载该文件时即启动任务，如果不需要可以删掉或改为false -->
    <key>RunAtLoad</key>
    <true/>
    <!-- 在指定时间执行任务 -->
    <key>StartCalendarInterval</key>
    <dict>
        <!-- 下面表示每天9点10分执行任务 -->
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>10</integer>
    </dict>
    <!-- 间隔多少秒执行任务，下面注释内容表示间隔30秒执行一次任务，两种方式只能选一种 -->
    <!-- <key>StartInterval</key>
    <integer>30</integer> -->
    <!-- 运行日志，请以实际为准 -->
    <key>StandardOutPath</key>
    <string>/Users/chaofan/Public/MyShell/reset_navicat.log</string>
    <!-- 错误日志，请以实际为准 -->
    <key>StandardErrorPath</key>
    <string>/Users/chaofan/Public/MyShell/reset_navicat.log</string>
</dict>
</plist>